body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.filters {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

select,
button {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    border: white solid 1px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 14px;
    font-weight: bold;
}

/* Style the options */
select option,
button option {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

button {
    border: white solid 0.1rem;
    background-color: transparent;
    border-radius: 2rem;
    padding: 1rem 3rem;
    transition: 0.3s;
}

button:hover {
    background: var(--clr);
    letter-spacing: 0.09rem;
    box-shadow: 0 0 100px var(--clr);
    border: none;
}

select:hover {
    transform: translateY(-2px);
}

#filter-button {
    border: 2px solid #fff;
        /* box-shadow: 0 0 15px 5px #0540b7; */
}

#filter-button:hover {
    background-color: #0540b7;
        border-color: #0540b7;
        transform: translateY(-1px);
        box-shadow: 0 0 15px 5px #0540b7;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #f6f8fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px 8px #0540b7;
}

.project-card a {
    color: #0366d6;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.project-card a:hover {
    color: #032f62;
    transition-delay: 0.5ms;
}

.language {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #586069;
}